<div class="card-body border-bottom">
  <div class="mb-1">
    <% if other_persons_note.user.avatar.attached? %>
      <%= image_tag other_persons_note.user.avatar, alt: 'プロフィール画像', class: 'rounded-circle', width: '40' %>
    <% else %>
      <%= image_tag 'app/assets/profile.png', alt: 'プロフィール画像', class: 'rounded-circle', width: '40' %>
    <% end %>
    <%= other_persons_note.user.username %>
  </div>
  <%= link_to other_persons_note.title, note_path(other_persons_note), class: 'note-title-other' %>
  <%= render partial: 'tags/tag', locals: { note: other_persons_note } %>
  <div class="text-secondary mt-1">
    <span class="me-3">
      <i class="bi bi-arrow-clockwise"></i> <%= other_persons_note.updated_at.strftime('%Y/%m/%d %H:%M:%S') %>
    </span>
    <i class="bi bi-pencil-square"></i> <%= other_persons_note.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
  </div>
</div>
