<%= turbo_stream.update dom_id(@note) do %>
  <div class="col d-flex">
    <div class="note-title">
      <%= @note.title %>
      <%= '(非公開)' if @note.private %>
    </div>
    <div class="ms-auto">
      作成日時:<%= @note.created_at.strftime('%Y/%m/%d %H:%M:%S') %><br>
      更新日時:<%= @note.updated_at.strftime('%Y/%m/%d %H:%M:%S') %>
    </div>
  </div>
  <%= render partial: 'tags/tag', locals: { note: @note } %>
<% end %>

<%= turbo_stream.update 'flash' do %>
  <%= render 'shared/flash_messages' %>
<% end %>
