<%= turbo_stream.update dom_id(@note) do %>
  <div class="h2">
    <%= @note.title %>
    <%= '(非公開)' if @note.private %>
  </div>
<% end %>

<%= turbo_stream.update 'flash' do %>
  <%= render 'shared/flash_messages' %>
<% end %>
