<%= turbo_frame_tag possession do %>
  <div class="border-bottom">
    <div class="row align-items-center p-2">
      <div class="col-md-10">
        <div class="row mb-2">
          <div class="col-md-4">
            <% if possession.stock.japanese? %>
              <span class="badge bg-primary">日本</span>
            <% else %>
              <span class="badge bg-danger">米国</span>
            <% end %>
            <%= "[#{possession.stock.code}]" %>
            <%= possession.stock.name %>
          </div>
          <div class="col-md-1 text-end">
            <%= number_to_currency(possession.price, locale: possession.stock.japanese? ? :ja : :en) %>
          </div>
          <div class="col-md-1 text-end">
            <%= number_with_delimiter(possession.volume) %>
          </div>
          <div class="col-md-3 text-end">
            <%= number_to_currency(possession.today_price, locale: possession.stock.japanese? ? :ja : :en) %>
            <span class="<%= possession.price_difference.positive? ? 'text-success' : 'text-danger' %>">
              <%= "(#{'+' if possession.price_difference.positive?}#{number_to_percentage(possession.price_difference, precision: 2)})" %>
            </span>
          </div>
          <div class="col-md-3 text-end">
            <%= number_to_currency(possession.total_price, locale: possession.stock.japanese? ? :ja : :en) %>
            <span class="<%= possession.total_change.positive? ? 'text-success' : 'text-danger' %>">
              <%= "(#{'+' if possession.total_change.positive?}#{number_to_percentage(possession.total_change, precision: 2)})" %>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col"><i class="bi bi-chat-right-text"></i> <%= possession.memo %></div>
        </div>
      </div>
      <div class="col-md-2 text-end">
        <%= link_to edit_possession_path(possession), class: 'btn btn btn-outline-primary me-3' do %>
          <i class="bi bi-pencil"></i>
        <% end %>
        <%= link_to possession, data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' }, class: 'btn btn btn-outline-danger' do %>
          <i class="bi bi-trash"></i>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
