<div class="row justify-content-center py-5 bg-light">
  <div class="col-md-10">
    <h1 class="text-center mb-5">保有銘柄一覧</h1>

    <%= link_to new_possession_path, data: { turbo_frame: 'new_possession' }, class: 'btn btn-primary' do %>
      <i class="bi bi-plus"></i>
      新規登録
    <% end %>

    <div class="card shadow mt-3">
      <div class="card-header">
        <div class="row text-center">
          <div class="col-md-10">
            <div class="row">
              <div class="col-md-4"><%= Possession.human_attribute_name(:stock_id) %></div>
              <div class="col-md-1"><%= Possession.human_attribute_name(:price) %></div>
              <div class="col-md-1"><%= Possession.human_attribute_name(:volume) %></div>
              <div class="col-md-3"><%= "#{Price.human_attribute_name(:market_close)}(前日比)" %></div>
              <div class="col-md-3">評価額(騰落率)</div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-body">
        <%= turbo_frame_tag 'new_possession' do %>
          <% if @possessions.blank? %>
            <div class="text-center">まだ登録されていません。新規登録ボタンから登録してみましょう!</div>
          <% end %>
        <% end %>
        <div id="possessions">
          <%= render @possessions %>
        </div>
        <div class="row p-2">
          <div class="col text-center">
            <% if current_user.total_assets.any? %>
              <span class="h3">保有総額 <%= number_to_currency(current_user.total_assets.last.price) %></span><br>
              <span class="h6 text-secondary ms-1">(<%= current_user.total_assets.last.date %> 22:00時点)</span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
