<div class="col-md-6">
  <h1 class="text-center mb-5">マイページ</h1>
  <div class="card card-body">
    <p>ユーザー情報</p>
    <div class="ms-auto">
      <%= link_to edit_mypage_account_path, class: 'btn btn-primary' do %>
        <i class="bi bi-pencil"></i>
      <% end %>
    </div>
    <table class="table table-hover">
      <tbody>
        <tr>
          <th><%= User.human_attribute_name(:avatar) %></th>
          <td>
            <% if @user.avatar.attached? %>
              <%= image_tag @user.avatar, alt: 'プロフィール画像', class: 'rounded-circle', width: '150' %>
            <% else %>
              <%= image_tag 'https://placehold.jp/150x150.png', alt: 'プロフィール画像', class: 'rounded-circle' %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th><%= User.human_attribute_name(:username) %></th>
          <td><%= @user.username %></td>
        </tr>
        <tr>
          <th><%= User.human_attribute_name(:email) %></th>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <th><%= User.human_attribute_name(:password) %></th>
          <td>****</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
