<%= turbo_frame_tag note_block do %>
  <div class="block mt-3 mb-5 d-flex align-items-center">
    <div class="d-block" id="<%= note_block.index %>">
      <%= markdown(note_block.content) %>
    </div>
    <% if current_user.own?(@note) %>
      <div class="ms-auto">
        <%= link_to edit_note_note_block_path(note_block), class: 'btn btn-outline-primary me-3' do %>
          <i class="bi bi-pencil"></i>
        <% end %>
        <%= link_to note_note_block_path(@note, note_block), data: { turbo_method: :delete }, class: 'btn btn-outline-danger' do %>
          <i class="bi bi-trash"></i>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
